:root {
  --primary-color: #4CAF50;
  --primary-color2: #39e63f;
  --secondary-color: #8bcbe9;
  --background: #292929;
  --text: #f0f0f0;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
fieldset {
  min-width: 100%;
}
input {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
fieldset {
  padding: 1rem;
  border: dotted 1px #999;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.primary { color: var(--primary-color); }
.primary-bg { background-color: var(--primary-color); }
.primary2 { color: var(--primary-color2); }
.primary2-bg { background-color: var(--primary-color2); }
.secondary { color: var(--secondary-color); }
.secondary-bg { background-color: var(--secondary-color); }

.p1 { padding: 1rem; }
.flex { display: flex; }
.grid { display: grid; }
.flex-col { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.space-between { justify-content: space-between; }
.align-center { align-items: center; }
.align-start { align-items: start; }
.gap1 { gap: 1rem; }
.fullw { width: 100%; }
.autow { width: auto; }
.w400 { width: 400px; }
.op05 { opacity: 0.5; }